body{
    text-align: center;
}
#App{
    background-color: rgb(86, 180, 180);
}
.line{
    height: 6px;
    background-color: blueviolet;
    width: 90px;
    margin: 20px auto;
}
#jogos{
    background-color: rgb(180, 86, 141);
}
#chatbot{
    background-color: rgb(86, 180, 180);
}
#myCarrouselImg img{
    height: 100px;
    margin-top: 35px;
}